{% load static %}
<div class="nav-main">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand font-weight-bold" href="{% url 'home' %}"><img src="{% static 'assets/img/logo.jpeg' %}" alt="" srcset="" style="height:80px ;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if request.user.is_active %}

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}

                    
                </ul>
                <form action="{% url 'search' %}" method="GET" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" name="title" type="search"  placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                  </form>
                  {% if request.user.is_active %}
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>

                    
                </ul>
                {% endif %}

            </div>
        </nav>
        <!--end:Nav -->
    </div>
</div>
<!--end:Navigation -->